{% extends "base.html" %}
{% from "_macros.html" import field %}
{% block title %}Add subscription{% endblock %}

{% block content %}
<h3>Add subscription for {{ company.name }}</h3>
<div class="card"><div class="card-body">
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-6">{{ field(form.plan_id, autofocus=true) }}</div>
      <div class="col-md-3">{{ field(form.quantity) }}</div>
      <div class="col-md-3">{{ field(form.start_date) }}</div>
    </div>
    <button class="btn btn-dark">Add subscription</button>
    <a class="btn btn-link" href="{{ url_for('admin.company_detail', company_id=company.id) }}">Cancel</a>
  </form>
</div></div>
{% endblock %}
