{% extends "base.html" %}
{% from "_macros.html" import field %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3>{{ title }}</h3>

<div class="card"><div class="card-body">
<form method="post" novalidate>
  {{ form.hidden_tag() }}

  <h6>Identity</h6>
  <div class="row">
    <div class="col-md-3">{{ field(form.slug) }}</div>
    <div class="col-md-5">{{ field(form.name) }}</div>
    <div class="col-md-4">{{ field(form.tagline) }}</div>
  </div>
  <div class="row">
    <div class="col-md-7">{{ field(form.logo_url) }}</div>
    <div class="col-md-2">{{ field(form.brand_color) }}</div>
    <div class="col-md-3">{{ field(form.support_email) }}</div>
  </div>
  <div class="row">
    <div class="col-md-3">{{ field(form.plan_tier) }}</div>
    <div class="col-md-3">{{ field(form.status) }}</div>
  </div>

  <hr>
  <h6>Domain mapping</h6>
  <div class="row">
    <div class="col-md-6">{{ field(form.primary_domain) }}</div>
    <div class="col-md-6">{{ field(form.custom_domain) }}</div>
  </div>

  <hr>
  <h6>Localisation</h6>
  <div class="row">
    <div class="col-md-2">{{ field(form.currency_code) }}</div>
    <div class="col-md-2">{{ field(form.currency_symbol) }}</div>
    <div class="col-md-2">{{ field(form.country_code) }}</div>
    <div class="col-md-2">{{ field(form.locale) }}</div>
    <div class="col-md-2">{{ field(form.number_grouping) }}</div>
    <div class="col-md-2">{{ field(form.timezone) }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">{{ field(form.date_format) }}</div>
    <div class="col-md-4">{{ field(form.datetime_format) }}</div>
    <div class="col-md-4">{{ field(form.time_format) }}</div>
  </div>

  <hr>
  <h6>Tax & identity</h6>
  <div class="row">
    <div class="col-md-3">{{ field(form.default_tax_rate) }}</div>
    <div class="col-md-3">{{ field(form.tax_label) }}</div>
    <div class="col-md-3">{{ field(form.invoice_prefix) }}</div>
  </div>
  <div class="row">
    <div class="col-md-5">{{ field(form.company_legal_name) }}</div>
    <div class="col-md-4">{{ field(form.gstin) }}</div>
    <div class="col-md-3">{{ field(form.pan) }}</div>
  </div>

  <hr>
  <h6>Manual payment details</h6>
  <div class="row">
    <div class="col-md-3">{{ field(form.payment_upi_id) }}</div>
    <div class="col-md-3">{{ field(form.payment_gpay) }}</div>
    <div class="col-md-6">{{ field(form.payment_bank_details) }}</div>
  </div>
  {{ field(form.payment_instructions) }}

  {% if form.admin_name is defined %}
  <hr>
  <h6>First operator owner (login for this workspace)</h6>
  <div class="row">
    <div class="col-md-4">{{ field(form.admin_name) }}</div>
    <div class="col-md-4">{{ field(form.admin_email) }}</div>
    <div class="col-md-4">{{ field(form.admin_password) }}</div>
  </div>
  {{ field(form.seed_defaults) }}
  {% endif %}

  <button class="btn btn-dark">Save</button>
  <a class="btn btn-link" href="{{ url_for('platform.tenants_list') }}">Cancel</a>
</form>
</div></div>
{% endblock %}
