{% extends "base.html" %}
{% from "_macros.html" import field %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3>{{ title }}</h3>

<div class="card"><div class="card-body">
<form method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-md-4">{{ field(form.key) }}</div>
    <div class="col-md-4">{{ field(form.name) }}</div>
    <div class="col-md-2">{{ field(form.monthly_price) }}</div>
    <div class="col-md-2">{{ field(form.annual_price) }}</div>
  </div>
  <div class="row">
    <div class="col-md-3">{{ field(form.annual_discount) }}</div>
    <div class="col-md-3">{{ field(form.status) }}</div>
    <div class="col-md-3">{{ field(form.trial_period_days) }}</div>
  </div>

  <hr>
  <h6>Included use and overages</h6>
  <div class="row">
    <div class="col-md-3">{{ field(form.max_locations) }}</div>
    <div class="col-md-3">{{ field(form.included_active_contracted_seats) }}</div>
    <div class="col-md-3">{{ field(form.additional_seat_rate) }}</div>
    <div class="col-md-3">{{ field(form.additional_location_rate) }}</div>
  </div>
  {{ field(form.included_features) }}
  {{ field(form.premium_modules) }}

  <button class="btn btn-dark">Save</button>
  <a class="btn btn-link" href="{{ url_for('platform.tiers_list') }}">Cancel</a>
</form>
</div></div>
{% endblock %}
